@model toplearn.Core.DTOs.forgotpasswordviewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">تاپ لرن</a></li>
        <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.isSuccess == true)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی رمز عبور برای شما ارسال شد</p>
            </div>
           

        }
        <header><h2> بازیابی رمز عبور </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email"></span>

               
                <button class="btn btn-success"> تایید و ارسال </button>

            </form>
        </div>

    </div>
</main>